@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Black: #0b0b0b;
    --Light-Grey: #ccc6d4;
    --Dark-Grey: #373737;
    --White: #f2f2f2;
    --Purple: #6C63FF;
    --Red: #FF3B30;
    --Orange: #FFA726;
    --Green: #4CAF50;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* STYLES FOR LIGHT THEME */
.light-theme {
    background-color: var(--White);
    transition: ease 2s opacity;
}

.light-theme a.logo,
.light-theme .intro-wrapper h1,
.light-theme .search-wrapper p,
.light-theme .empty-task-wrapper h1,
.light-theme .create-task-wrapper h5,
.light-theme .create-task-wrapper p,
.light-theme .task-added-wrapper h5{
    color: var(--Black);
}

.light-theme .theme-btn,
.light-theme .search-field,
.light-theme .create-task-wrapper input,
.light-theme .priority-wrapperc, 
.light-theme .task-added-wrapper,
.light-theme .delete-btn{
    border: 1px solid var(--Dark-Grey);
    color: var(--Dark-Grey);
    box-shadow: 2px 1px 4px var(--Dark-Grey);
}

.light-theme .priority-wrapper input {
    border: none;
    box-shadow: none;
}

.light-theme .theme-btn svg,
.light-theme .search-field svg,
.light-theme .priority-wrapper svg {
    fill: var(--Dark-Grey);
}

.light-theme .intro-wrapper .tagline,
.light-theme .intro-wrapper div > p ,
.light-theme .search-field input::placeholder,
.light-theme .create-task-wrapper input::placeholder {
    color: var(--Dark-Grey);
}

.light-theme .get-started-btn {
    border: 1px solid var(--Dark-Grey);
}

.light-theme .intro-group,
.light-theme .create-task-wrapper,
.light-theme .create-task-wrapper ul,
.light-theme li.task-item,
.light-theme .close-btn{
    box-shadow: 2px 2px 4px var(--Dark-Grey);
}

.light-theme section.create-task-wrapper {
    background-color: var(--White);
}

.light-theme .create-task-wrapper ul li:hover,
.light-theme .filter-menu ul li:hover {
    background-color: var(--Black);
}

.light-theme .task-added-wrapper,
.light-theme .search-field input {
    color: var(--Black);
}

.light-theme .task-added-wrapper h3 {
    color: var(--Purple);
}

/* ENDS HERE */

body {
    min-height: 100vh;
    background-color: var(--Black);
    color: white;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}


/* Landing page starts here */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    animation: slideDown 3s ease;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


a.logo {
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--White);
    text-decoration: none;
}

.theme-btn {
    border: 1px solid var(--Light-Grey);
    background-color: transparent;
    color: var(--Light-Grey);
    height: 40px;
    padding: 10px 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 5px;
    cursor: pointer;
    position: relative;
    transition: opacity 2s ease;
    box-shadow: 2px 1px 4px var(--Light-Grey);
}

.theme-btn svg {
    fill: var(--Light-Grey);
}

.theme-list {
    position: absolute;
    right: 53px;
    top: 78px;
    width: 120px;
    background-color: var(--Purple);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 5px;
    border-radius: 5px;
}

.theme-list li {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    width: 100%;
    cursor: pointer;
}

.theme-list li:hover {
    background-color: var(--White);
    color: var(--Purple);
    border-radius: 8px;
}

.landing-page-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
    padding: 0 50px;
    width: 100%;
}

.intro-wrapper {
    width: 50%;
    animation: slideInLeft 3s ease;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-180px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.intro-wrapper h1 {
    margin: 0 0 55px;
    font-size: 2.4rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--White);
    font-weight: 900;
}

.intro-wrapper .tagline {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 50px;
    color: var(--Light-Grey);
}

.intro-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}

.intro-wrapper div > p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0 15px;
    color: var(--Light-Grey);
}

.intro-wrapper div input {
    width: 50%;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--White);
}

.intro-wrapper div input::placeholder {
    font-size: 1.2rem;
}

.intro-wrapper div input:focus {
    outline: none;
}

.get-started-btn {
    margin: 20px 0 0;
    width: 50%;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--Purple);
    color: var(--White);
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border: 1px solid var(--Light-Grey);
    cursor: pointer;
}

.get-started-btn:hover {
    transition: ease 2s;
    transform: scale(1.1);
}

.landing-page-content-wrapper img {
    width: 50%;
    animation: slideInRight 3s ease;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(180px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Landing Page ends here */


/* Task.html starts here */
.task-wrapper {
    margin: 20px 0;
    padding: 0 90px 20px;
}

.search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.search-wrapper p  {
    color: var(--Light-Grey);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.search-field {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--Light-Grey);
    border-radius: 10px;
    color: var(--White);
    box-shadow: 2px 1px 4px var(--Light-Grey);
}

.search-field input {
    width: 78%;
    padding: 10px;
    height: 100%;
    color: var(--White);
    background-color: transparent;
    border: none;
}

.search-field input:focus {
    outline: none;
    background-color: transparent;
}

.search-field input::placeholder {
    font-size: 1rem;
    color: var(--Light-Grey);
}

.search-field button {
    width: 20%;
    height: 100%;
    padding: auto;
    background-color: transparent;
    border: none;
}

.search-field svg {
    fill: var(--Light-Grey);
}

.empty-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.empty-task-wrapper {
    width: 60%;
    animation: slideInLeft 3s ease;
}

.empty-task-wrapper h1 {
    font-size: 2.8rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 800;
    margin: 40px 0;
}

.intro-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 70px;
    border-radius: 12px;
    background-color: var(--Purple);
    color: var(--White);
}

.intro-group h3 {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 700;
}

.intro-group p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0;
}

.add-task-btn {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--Black);
    color: var(--White);
    font-size: 1.3rem;
    font-weight: 600;
}

.add-task-btn:hover {
    transition: ease 2s;
    transform: scale(1.1);
}

.add-task-btn svg {
    fill: var(--White);
}

.empty-container img {
    width: 40%;
    animation: slideInRight 3s ease;
}


/* Create task */
.modal-wrapper {
    display: none; 
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
}


section.create-task-wrapper {
    margin: 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
    padding: 20px 30px 30px;
    background-color: var(--Black);
    border-radius: 10px;
    box-shadow: 2px 1px 4px var(--Light-Grey);
    position: relative;
    animation: fadeIn 2s ease;
}

.close-btn {
    width: 50px;
    height: 50px;
    margin: 35px 0 0;
    align-self: self-end;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 2px 1px 4px var(--Light-Grey);
}

.create-task-wrapper h5 {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 30px 0;
    color: var(--White);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.create-task-wrapper input {
     width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 1px 4px var(--Light-Grey);
    margin: 40px 0;
    color: var(--White);
}

.create-task-wrapper input::placeholder {
    font-size: 1.2rem;
    color: var(--Light-Grey);
}

.create-task-wrapper p {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: var(--white);
    margin: 25px 0;
}

.priority-wrapper {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 1px 4px var(--Light-Grey);
    margin: 0 0 5px;
}

.priority-wrapper input {
    width: 80%;
    box-shadow: none;
    margin: 0;
}

.priority-wrapper input:focus {
    outline: none;
}

.priority-wrapper button {
    width: 20%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.priority-wrapper svg {
    fill: var(--Light-Grey);
}

.create-task-wrapper ul {
    width: 100%;
    background-color: transparent;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--Light-Grey);
    box-shadow: 2px 1px 4px var(--Light-Grey);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.create-task-wrapper ul.show {
    opacity: 1;
    visibility: visible;
}

.create-task-wrapper ul li {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.create-task-wrapper ul li:hover {
    background-color: var(--White);
    border-radius: 8px;
}

.high-priority {
    color: var(--Red);
}

.high-priority svg {
    fill: var(--Red);
}

.medium-priority {
    color: var(--Orange);
}

.medium-priority svg {
    fill: var(--Orange);
}

.low-priority {
    color: var(--Green);
}

.low-priority svg {
    fill: var(--Green);
}

.add-task-btn.two {
    background-color: var(--Purple);
    width: 100%;
    margin: 40px 0 0;
    border: none;
}

/* Task added styles starts here */
.task-added-wrapper {
    width: 50%;
    background-color: transparent;
    padding: 30px 40px;
    box-shadow: 1px 2px 4px var(--Light-Grey);
    border-radius: 10px;
    display: none;
    animation: slideInLeft 3s ease;
}

.task-added-wrapper h3 {
    font-size: 2.89rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
}

.task-added-wrapper .header {
    margin: 50px 0 0;
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.task-added-wrapper h5 {
    font-size: 1.2rem;
    color: var(--Light-Grey);
    text-transform: capitalize;
    font-weight: 500;
    text-align: center
}

.filter-menu {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.filter-btn {
    width: 70%;
    height: 40px;
    padding: 10px;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Purple);
    color: var(--White);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1px 2px var(--Light-Grey);
    cursor: pointer;
}

.filter-dropdown {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid var(--Light-Grey);
    box-shadow: 2px 1px 2px var(--Light-Grey);
    transition: all 0.3s ease-in-out;
}

.filter-menu ul {
    background-color: transparent;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.filter-menu ul li {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-active {
    background-color: var(--White);
}

.filter-menu ul li:hover {
    background-color: var(--White);
}

.all-filter {
    font-weight: 600;
    color: var(--Purple);
    margin-left: 15px;
}

.filter-btn:hover {
    transition: ease 2s;
    transform: scale(1.1);
}

.filter-btn svg {
    fill: var(--White);
}

.apply-filter-btn {
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--White);
    background-color: var(--Purple);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1px 2px var(--Light-Grey);
    cursor: pointer;
}

.apply-filter-btn:hover {
    opacity: 0.8;
}

.wrapper {
    width: 100%;
}

.task-added-wrapper .add-task-btn.two {
    width: 100%;
    padding: 10px;
    margin: 50px auto;
}

ul.task-list {
    width: 100%;
    margin: 70px 0;
    background-color: transparent;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

li.task-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    box-shadow: 2px 1px 4px var(--Light-Grey);
}

.task-list input {
    width: 24px;
    height: 24px;
    border: 2px solid #cbd5e0;
    border-radius: 10px;
    cursor: pointer;
    accent-color: var(--Purple);
}

.task-title {
    width: 30%;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.priority {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.delete-btn {
    background-color: transparent;
    width: 80px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--White);
    border: 2px solid var(--White);
    box-shadow: 2px 1px 4px var(--Light-Grey);
    cursor: pointer;
}

/* Task added styles starts here   */
/* Task.html ends here */



/* MEDIA QUERIES */
@media (max-width: 850px) {
    /* Landing page */
    
    .intro-wrapper {
        width: 100%;
    }

    .landing-page-content-wrapper {
        margin: 50px 0 0;
        flex-direction: column;
    }

    .landing-page-content-wrapper img {
        width: 40%;
        margin: 0 0 70px ;
        order: -1;
    }

    .intro-wrapper div input,
    .get-started-btn {
        width: 100%;
    }

    /* Landing page ends here */

    /* task page */

    .task-wrapper {
        padding: 0 40px 20px;
    }

    .empty-container {
        flex-direction: column;
        gap: 45px;
    }

    .empty-task-wrapper,
    .task-added-wrapper {
        width: 100%;
        padding: 30px 20px;
    }

    .intro-group {
        width: 100%;
        padding: 30px 35px;
    } 

    .add-task-btn {
        width: 100%;
    }

    .empty-container img {
        margin: 35px 0 0;
        width: 60%;
        order: -1;
    }

    section.create-task-wrapper {
        width: 60%;
    }

    /* task page ends here */
}

@media (max-width: 650px) {
    /* Landing page */
    header {
        padding: 30px 20px;
    }

    a.logo {
        font-size: 1.8rem;
    }

    .intro-wrapper {
        width: 100%;
    }

    .intro-wrapper h1 {
        font-size: 2.2rem;
    }

    .landing-page-content-wrapper {
        padding: 0 20px;
        margin: 50px 0 0;
        flex-direction: column;
    }

    .landing-page-content-wrapper img {
        width: 70%;
        margin: 0 0 60px;
        order: -1;
    }

    .intro-wrapper div input,
    .get-started-btn {
        width: 100%;
    }

    /* Landing page ends here */

    /* task page */

    .task-wrapper {
        padding: 0 20px 20px;
    }

    .search-wrapper {
        flex-direction: column;
        gap: 45px;
    }

    .search-wrapper p {
        font-size: 1.5rem;
    }
    
    .empty-container {
        flex-direction: column;
        gap: 45px;
    }

    .empty-task-wrapper {
        width: 100%;
    }

    .empty-task-wrapper h1 {
        font-size: 2.2rem;
    }

    .intro-group {
        width: 100%;
        padding: 30px 30px;
    } 

    .add-task-btn {
        width: 100%;
    }

    .empty-container img {
        margin: 35px 0 0;
        width: 60%;
        order: -1;
    }

    section.create-task-wrapper {
        width: 90%;
    }

    .task-list input {
        width: 18px;
        height: 18px;
    }

    .priority {
        gap: 2px;
    }

    .delete-btn {
        width: 60px;
        font-size: 0.9rem;
        padding: 5px;
    }

    /* task page ends here */
}